<li class="contactInfo__item" data-id="{{id}}">
  <div class="contactInfo__item_info">
    <p class="contactInfo__item_text">Добавлен: {{addedAt}}</p>
    <p class="contactInfo__item_text">Возраст: {{age}}</p>
    <p class="contactInfo__item_text">Семейное положение: {{status}}</p>
    <p class="contactInfo__item_text">Работает: {{work}}</p>
    <p class="contactInfo__item_text">Образование: {{education}}</p>
  </div>
  <button type="button" class="contactInfo__item_button">
    X
  </button>
</li>
