<li class="contactsList__item" data-id="{{id}}">
  <div class="contactsList__item_info firstCol">
    <p class="contactsList__item_text"> {{name}}</p>
  </div>
  <div class="contactsList__item_info secondCol">
    <p class="contactsList__item_text">
      {{phone}}
    </p>
    <p class="contactsList__item_text thirdCol">{{email}}</p>
  </div>
  <div class="contactsList__item_info secondCol fourthCol">
    <p class="contactsList__item_text">{{skype}}</p>
    <p class="contactsList__item_text thirdCol fifthCol">
      {{comment}}
    </p>
  </div>
</li>
