<tr class="contactsList__item" data-id="{{id}}">
  <td rowspan="1" class="contactsList__item_info first">{{name}}</td>
  <td class="contactsList__item_info second">
    {{phone}}
  </td>
  <td class="contactsList__item_info third desk_view">{{email}}</td>
  <td class="contactsList__item_info fourth">{{skype}}</td>
  <td class="contactsList__item_info fifth desk_view">{{comment}}</td>
</tr>
<tr class="contactsList__item tablet_view" data-id="{{id}}">
  <td class="contactsList__item_info third">{{email}}</td>
  <td class="contactsList__item_info fifth">{{comment}}</td>
</tr>
